/* ====================================================== */
/* DASHBOARD ROOT */
/* ====================================================== */

.dashboard-root{
    display:flex;
    min-height:100vh;
    background:#050301;
    position:relative;
    overflow:hidden;
    color:white;
}

.dashboard-logo{
     font-family:"Very Vogue", serif;

    font-style:italic;

    font-size:36px;

    line-height:100%;

     background:
    linear-gradient(
      89.84deg,
      #FFFFFF 32.87%,
      #FF6D29 91.51%
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    background-clip:text;

    height:72px;
     color:white;
    display:flex;
    align-items:center;

    padding-left:18px;

     border-bottom:1.5px solid rgb(255, 255, 255);
}

/* ====================================================== */
/* MONEY BACKGROUND */
/* ====================================================== */

.dashboard-money{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;

    opacity:0.18;

    filter:
    brightness(0.88)
    contrast(0.82)
    saturate(0.85);

    pointer-events:none;
}

.dashboard-overlay-base{
    position:absolute;
    inset:0;

    background:
    rgba(0,0,0,0.52);

    z-index:1;
}

.dashboard-glow-tr{
    position:absolute;

    width:58vw;
    height:58vw;

    min-width:750px;
    min-height:750px;

    max-width:1100px;
    max-height:1100px;

    right:-30vw;
    top:-30vw;

    border-radius:50%;

    background:#FF6D2933;

    filter:blur(180px);

    pointer-events:none;

    z-index:2;
}

.dashboard-glow-bl{
    position:absolute;

    width:58vw;
    height:58vw;

    min-width:750px;
    min-height:750px;

    max-width:1100px;
    max-height:1100px;

    left:-28vw;
    bottom:-32vw;

    border-radius:50%;

    background:#FF6D2933;

    filter:blur(180px);

    pointer-events:none;

    z-index:2;
}

.dashboard-overlay-warm{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
      to bottom,
      rgba(6,3,1,0.10) 0%,
      transparent 30%,
      transparent 70%,
      rgba(4,2,1,0.20) 100%
    );

    pointer-events:none;

    z-index:3;
}

.dashboard-diagonal-light{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
      135deg,
      rgba(255,109,41,0.05) 0%,
      rgba(255,109,41,0.025) 14%,
      transparent 34%,
      transparent 58%,
      rgba(255,109,41,0.02) 82%,
      rgba(255,109,41,0.04) 100%
    );

    filter:blur(30px);

    opacity:0.32;

    pointer-events:none;

    z-index:3;
}

.dashboard-vignette{
    position:absolute;
    inset:0;

    background:
    radial-gradient(
      ellipse 85% 75% at 50% 50%,
      transparent 42%,
      rgba(0,0,0,0.16) 74%,
      rgba(0,0,0,0.42) 100%
    );

    pointer-events:none;

    z-index:4;
}
.feed-row{
    height:62px;

    display:grid;

    grid-template-columns:
    20% 20% 20% 20% 20%;

    align-items:center;

    border-bottom:
    1px solid rgba(255,255,255,.08);
}

.feed-row span{
    display:flex;
    justify-content:center;
}

.risk-red{
    color:#FF4D4D;
    font-weight:600;
}

.risk-orange{
    color:#FF9D42;
    font-weight:600;
}


/* ====================================================== */
/* SIDEBAR */
/* ====================================================== */

.dashboard-sidebar{
    width:220px;
    min-height:100vh;

    background:transparent;

    display:flex;
    flex-direction:column;

    z-index:10;
}


.dashboard-logo span:last-child{
    color:#FF8D52;
}

.dashboard-nav{
    background:#FF6D295C;

    flex:1;

    display:flex;
    flex-direction:column;

    gap:32px;

    padding-top:40px;
    padding-left:.4rem;

    margin-top:0;
}

.dashboard-nav button{
    background:none;
    border:none;

    color:white;

    text-align:left;

    cursor:pointer;

    font-family:"Very Vogue", serif;
    font-style:italic;

    font-size:24px;
}

.dashboard-nav button:hover{
    color:#FFD7BE;
}

/* ====================================================== */
/* MAIN */
/* ====================================================== */

.dashboard-main{
    flex:1;
    position:relative;
    z-index:10;
}

/* ====================================================== */
/* TOPBAR */
/* ====================================================== */

.dashboard-topbar{
    height:72px;
    border-bottom:2px solid rgb(255, 255, 255);
    
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 1.8rem;

     border-bottom:1.5px solid rgb(255, 255, 255);
}

.dashboard-topbar input{
     width:950px;
    max-width:65vw;
    height:40px;

    border-radius:999px;

    border:
    1px solid rgba(255,255,255,.22);

    background:transparent;

    padding:0 1rem;

    color:white;

    outline:none;
}

.dashboard-topbar{
    padding:
    0 24px
    0 28px;
}

.dashboard-topbar input::placeholder{
    color:rgba(255,255,255,.45);
}

.dashboard-top-actions{
    display:flex;
    align-items:center;
    gap:1.2rem;

    font-size:14px;
}

/* ====================================================== */
/* HEADER */
/* ====================================================== */

.dashboard-header{
    padding:1.2rem 2rem;
}

.dashboard-header h1{
    font-size:45px;
    font-weight:500;

    margin-bottom:.3rem;
}

.dashboard-header p{
    font-family:"Very Vogue", serif;
    font-style:italic;

    color:#C7BFB8;

    font-size:17px;

    margin-bottom:.8rem;
}

.dashboard-header button{
    border:none;

    padding:.45rem 1rem;

    border-radius:999px;

    background:#2A8D2A;

    color:white;

    font-size:12px;
}

/* ====================================================== */
/* STATS */
/* ====================================================== */

.dashboard-stats{
    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:1.8rem;

    padding:0 2rem;
}

.stat-card{
    height:155px;

    border:
    1px solid rgba(255,255,255,.22);

    border-radius:24px;

    background:
    rgba(255,255,255,.02);

    backdrop-filter:blur(10px);

    padding:1.2rem;
}

.stat-card h3{
    font-size:18px;
    font-weight:400;

    margin-bottom:1.5rem;
}

.stat-card h2{
    font-size:34px;
    font-weight:500;
}

/* ====================================================== */
/* BOTTOM */
/* ====================================================== */

.dashboard-bottom{
    display:grid;

    grid-template-columns:
    1.45fr 1fr;

    gap:1rem;

    padding:2rem;
}

.dashboard-table{
    height:350px;

    border:
    1px solid rgba(255,255,255,.18);

    background:
    rgba(255,255,255,.01);

   
}

.dashboard-chart{
    height:320px;

    border:1px solid rgba(255,255,255,.18);

    background:rgba(255,255,255,.01);

    padding:20px;
}

.dashboard-top-actions{
    display:flex;
    align-items:center;
    gap:18px;
}
.top-icon{
    color:#FF8D52;
    font-size:28px;
}
.profile-icon{
    border:1px solid #FF8D52;
    border-radius:50%;

    padding:8px;

    width:44px;
    height:44px;
}
.user-chip{
    width:92px;
    height:28px;

    border:none;

    border-radius:999px;

    background:#B75A24;

    color:white;

    font-family:"Very Vogue", serif;
    font-style:italic;
}

.stat-card{
    position:relative;
}

.card-icon{
    position:absolute;

    top:16px;
    right:16px;

    font-size:28px;

    color:white;
}

.card-change{
    margin-top:10px;

    font-size:11px;

    color:rgba(255,255,255,.75);
}


.table-wrapper{
    display:flex;
    flex-direction:column;
}

.dashboard-table{
    height:420px;

    border:1px solid rgba(255,255,255,.22);

    overflow:hidden;

    background:rgba(255,255,255,.01);
}

.feed-header-row{
    height:42px;

    display:grid;

    grid-template-columns:
    20% 20% 20% 20% 20%;

    border-bottom:
    1px solid rgba(255,255,255,.18);

    background:
    rgba(255,255,255,.01);

    box-sizing:border-box;
}

.feed-body{
    position:relative;
    height:370px;
}

.feed-header-row span{
    display:flex;

    align-items:center;
    justify-content:center;

    font-size:12px;

    border-right:
    1px solid rgba(255,255,255,.18);
}

.feed-header-row span:last-child{
    border-right:none;
}


.feed-body::before{
    content:"";

    position:absolute;
    inset:0;

    background:
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(20% - 1px),
      rgba(255,255,255,.15) calc(20% - 1px),
      rgba(255,255,255,.15) 20%
    );

    pointer-events:none;
}

.table-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:14px;
}

.table-title{
    font-family:"Very Vogue", serif;
    font-style:italic;

    font-size:18px;

    color:white;
}

.table-status{
    display:flex;
    align-items:center;

    gap:6px;

    font-size:11px;

    color:#AFAFAF;
}

.live-dot{
    width:6px;
    height:6px;

    border-radius:50%;

    background:#29A8FF;
}

.risk-container{
    height:100%;

    display:flex;

    align-items:center;

    justify-content:center;

    gap:20px;   
}

.risk-title{
    font-family:"Very Vogue", serif;
    font-style:italic;

    font-size:18px;

    color:white;

    margin-bottom:12px;

     margin-left:8px;
}

.risk-pie{
    width:180px;
    height:180px;

    border-radius:50%;

    border:8px solid white;

    position:relative;
}

.risk-pie::before{
    content:"";

    position:absolute;

    left:50%;
    top:0;

    width:8px;
    height:100%;

    background:white;

    transform:translateX(-50%);
}

.risk-pie::after{
    content:"";

    position:absolute;

    right:0;
    top:50%;

    width:50%;
    height:8px;

    background:white;
}

.risk-center{
    position:absolute;

    width:8px;
    height:70px;

    background:white;

    left:50%;
    top:65%;

    transform:
    translate(-50%,-50%)
    rotate(-33deg);

    transform-origin:top center;
}

.risk-note{
    margin-top:12px;

    width:180px;

    font-family:"Very Vogue", serif;
    font-style:italic;

    font-size:12px;

    line-height:1.25;
    opacity:.8;

    color:#B9B9B9;
}

.risk-low{
    background:#FFC928;
}

.risk-medium{
    background:#FF7A28;
}

.risk-high{
    background:#FF2828;
}

.risk-low,
.risk-medium,
.risk-high{
    width:8px;
    height:8px;

    border-radius:50%;

    display:inline-block;

    margin-right:10px;
}

.risk-details{
    display:flex;
    flex-direction:column;
      margin-top:-10px;
    gap:10px;

    font-size:16px;
}

.chart-wrapper{
    display:flex;
    flex-direction:column;
     margin-left:12px;
     margin-bottom:8px;
}
